{% extends "layouts/base.html" %}

{% block title %} Accounts {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load currency_formatting %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ label_card_title }}</h4>
                    <p class="card-description">Where your assets are held</p>
                    {{ form.non_field_errors }}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    <form class ="forms-sample" method="post">{% csrf_token %}
                        {{ form.name.errors }}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ form.name.label_tag }}</label>
                            <div class="col-sm-10">
                                {{ form.name }}
                            </div>
                        </div>
                        {{ form.type.errors }}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ form.type.label_tag }}</label>
                            <div class="col-sm-10">
                                {{ form.type }}
                            </div>
                        </div>
                        {{ form.balance.errors }}
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ form.balance.label_tag }}</label>
                            <div class="col-sm-10">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{% currency_symbol %}</span>
                                    {{ form.balance }}
                                </div>
                            </div>
                        </div>
                        {{ form.is_internal.errors }}
                        <div class="form-check form-check-flat form-check-success">
                            <label class="form-check-label">
                                {{ form.is_internal.label_tag }}
                                {{ form.is_internal }}
                            </label>
                        </div>
                        <input class="btn btn-success mr-2" type="submit" value="{{ label_submit_button }}">
                        <a href="{% url 'accounts' %}" class="btn btn-dark">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
